<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="image/nqa.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>حىّ عل العربية</title>
  <style>
    .theme-light {
      background-color: white;
      color: black;
    }
  
    .theme-dark {
      background-color: black;
      color: white;
    }
  </style>
  
  
</head>
<body class="bg-gray-700  font-sans">

  <!-- Vue App -->
  <div id="app">
    
    <!-- Fixed Header -->
    <header class="bg-gray-800  fixed top-0 left-0 w-full bg-white shadow-lg z-10 rounded-b-2xl bg- ">
      <div class="max-w-4xl mx-auto p-2 grid grid-cols-1 md:grid-cols-3 gap-2 items-center ">
        
        <!-- Others Section -->
        <div class="Logo-Container flex items-center justify-between">
          <h1 class="text-lg font-bold text-white">শব্দার্থ সঙ্কলন</h1>
    <!-- Search Section -->
        <div class="max-w-4xl mx-auto mt-4 p-4 bg-white shadow-lg rounded-lg">
          <input
            type="text"
            v-model="searchQuery"
            placeholder="Search..."
            class="w-full px-4 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>

         
        </div>
    
        <!-- Text Size Adjustment -->
        <div class="Text-Size-Container grid grid-cols-1">
          <label for="banglaSize" class="flex items-center space-x-2">
            <span class="text-xs font-bold  text-red-700">Bangla Size:</span>
            <input type="range" id="banglaSize" v-model="banglaSize" min="12" max="40" class="w-20">
          </label>
          <label for="arabicSize" class="flex items-center space-x-2 mt-1">
            <span class="text-xs font-bold text-red-700">Arabic Size:</span>
            <input type="range" id="arabicSize" v-model="arabicSize" min="12" max="40" class="w-20">
          </label>
        </div>
    
        <!-- Show/Hide Buttons -->
        <div class="Button-Container grid grid-cols-2 gap-1 text-xs">
          <button @click="showAll('bangla')" class="font-bold bg-green-500 text-white px-1 py-0.5 rounded hover:bg-green-600 
           transition-all duration-300 ease-in-out">
            Show All Bangla
          </button>
          <button @click="hideAll('bangla')" class="font-bold bg-blue-500 text-white px-1 py-0.5 rounded hover:bg-blue-600 transition-all duration-300 ease-in-out">
            Hide All Bangla
          </button>
          <button @click="showAll('arabic')" class="font-bold bg-green-500 text-white px-1 py-0.5 rounded hover:bg-green-600 transition-all duration-300 ease-in-out">
            Show All Arabic
          </button>
          <button @click="hideAll('arabic')" class="font-bold bg-blue-500 text-white px-1 py-0.5 rounded hover:bg-blue-600 transition-all duration-300 ease-in-out">
            Hide All Arabic
          </button>
        </div>
    
      </div>
    
      <!-- Lesson Navigation -->
      <div class="max-w-4xl mx-auto mt-2 p-1 flex items-center justify-center">
        <!-- Previous Button -->
        <button 
          v-if="activeLesson > 1"
          @click="prevLesson"
          class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 transition-all duration-300 ease-in-out mr-1 text-xs"
        >
          Previous
        </button>
    
        <!-- Lesson Buttons -->
        <div class="flex space-x-1">
          <template v-for="button in paginatedButtons">
            <span v-if="button === '...'" class="px-1 py-0.5 text-gray-500 text-xs">...</span>
            <button 
              v-else
              @click="loadLesson(button)"
              :class="{
                'bg-blue-500 text-white': activeLesson === button,
                'bg-gray-200 text-gray-800': activeLesson !== button
              }"
              class="px-3 py-1 rounded hover:bg-blue-400 hover:text-white transition-all duration-300 ease-in-out text-xs"
            >
              {{ button }}
            </button>
          </template>
        </div>
    
        <!-- Next Button -->
        <button 
          v-if="activeLesson < lessons.length"
          @click="nextLesson"
          class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 transition-all duration-300 ease-in-out ml-1 text-xs"
        >
          Next
        </button>
      </div>
    </header>

    
    <!-- Content Section -->
    <div class="bg-gray-600 mt-60  md:mt-36  max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg ">
      
      <!-- Vocabulary Items Section -->
      <div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      
        <div
        class="pair bg-gray-400 p-4 shadow-md rounded-lg flex justify-between items-center"
        v-for="(pair, index) in filteredVocabulary"
        :key="index">
        <div
          class="bangla bg-gray-100 p-2 rounded text-center cursor-pointer transition-transform transform hover:scale-105"
          :style="{
            fontSize: banglaSize + 'px',
            color: pair.showBangla ? '' : pair.banglaBgColor
          }"
          @click="toggleText(pair, 'bangla', $event)"
        >
          {{ pair.bangla }}
        </div>
        <div
          class="arabic bg-blue-100 p-2 rounded text-center cursor-pointer transition-transform transform hover:scale-105"
          :style="{
            fontSize: arabicSize + 'px',
            color: pair.showArabic ? '' : pair.arabicBgColor
          }"
          @click="toggleText(pair, 'arabic', $event)"
        >
          {{ pair.arabic }}
        </div>
      </div>

      </div>
    </div>

    
  </div>

  <!-- Vue App Script -->
  <script src="./script.js">
  </script>
</body>
</html>
